{{ define "main" }}

<!-- checking blog -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}

<style>{{.Params.custom_css | safeCSS}}</style>
<section class="section {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}}>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mb-7 mb-lg-5">
        <div class="wow">
          <div class="about-me-text mb-4">
            <h1>{{.Title | markdownify}}</h1>
          </div>
          {{ with .Params.image }}<img src="{{. | absURL}}" alt="image" class="img-fluid w-100 mb-5">{{ end }}
          <div class="content">{{.Content}}</div>

          {{ with .Params.tags }}
          <div class="tags mt-4 content">
            <i class="fas fa-tags mr-2"></i>
            {{range $i,$e:= . }}{{if ne $i 0}},{{end}} <a
              href="{{`tags` | absLangURL}}/{{.|urlize | lower}}">{{.|title}}</a>{{end}}
          </div>
          {{ end }}

          <!-- comments -->
          {{ if .Site.DisqusShortname }}
          <div class="mt-5">
            {{ template "_internal/disqus.html" . }}
          </div>
          {{ end }}
        </div>
    </div>
  </div>
</section>

<!-- regular page -->
{{ else }}
<style>{{.Params.custom_css | safeCSS}}</style>
<section class="portfolio {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}}>
  <div class="container wow fadeInUp" data-wow-duration="1.5s">
    <h1 class="text-center mb-5">{{ .Title | markdownify }}</h1>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /regular page -->

{{ end }}